body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: Arial, sans-serif; 
    color: white; 
    padding: 15px 20px;
    margin-top: -1px;
}
h2 {
    font-family: Arial, sans-serif;
    color: white; 
    padding: 10px 20px; 
}

/*  ------------  nav bar, video, logo and home page ------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-bottom: solid 2px white;
    padding-bottom: 5px;
}

.nav-bar {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 5px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin: 0 2%;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;    

}
.top-section {
    width: 100%;
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    position: fixed;
    top: 0;
    z-index: 1;
    height: 36px;
}

.logo {
    position: fixed;
    max-height: 60px; 
    max-width: 90%; 
    top: 50px;
    left: 20px; 
    z-index: 999; 
}

#widget {
    background-color: rgb(59, 64, 156);
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    position: fixed; 
    top: 45px; 
    right: 20px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-weight: bold; 
}

#widget img {
    max-width: 80%; 
    max-height: 80%; 
    border-radius: 50%; 
    display: block;
    margin: auto; 
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/*  ------------  text boxes ------------- */


 .container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(60px); 
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 90%;
  height: 70%;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px; 

 }
 
 .container form{
     padding: 2px;
     height: 40%;
     width: 90%;
 }


.container input{
    
     color: rgba(255, 255, 255, 0.9);
     font-size: 18px;
     height: 25px;
     width: 85%;
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
     backdrop-filter: blur(80px); 
     -webkit-backdrop-filter: blur(80px);
     border-radius: 20px;
     border:1px solid rgba(255, 255, 255, 0.05);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
     animation-duration: 2s;
     transition: all 0.3s ease;
     text-align: center;
     
 }

 input::placeholder{
    color: rgb(218, 211, 211);
    text-align: center;
    font-size: 20px;
}
.container p{
    
    margin-top: 10px;
    color: white;
    width: 100%;
    font-size: 18px;
}
.container a {
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
  .ProfilePic p {
    margin-top: -40px; 
    color: rgb(0, 0, 0); 
  }

  .search-container {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -20px;
  }

  .search-container input {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 600;
    height: 25px;
    width: 50%;
    padding-top: 4px;
    margin-bottom: 2px;
    margin-top: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    animation-duration: 2s;
    transition: all 0.3s ease;
    text-align: center;
  }

  input:hover {
    transform: scale(1.1);
  }

  input:focus {
    transform: scale(1.1);
  }

  .search-container input::-webkit-inner-spin-button,
  .search-container input::-webkit-outer-spin-button { /*disable the arrows on the input bar that have numbers*/
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }

  input::placeholder { /* text inside input box edit*/
    text-align: center;
    color: white;
    font-size: 22px;
  }
 

  @media (max-width: 900px) { /* responsivnes */
    .search-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: stretch;
      width: 280px;
      margin: 0 auto;
    }

    .search-container input { /*  inputs css for inputs in cointainer*/
      margin: 5px 0;
    }
  }

.price-slider {
  width: 50%;
  margin: 5px auto;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #24244e;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


#clearFiltersButton {
  background-color: #f44336; 
  color: white;
  padding: 8px; 
  text-align: center; 
  display: inline-block;
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s;
  font-size: 14px; 
}

#clearFiltersButton:hover {
  background-color: #d32f2f;
}

.delete-button {
  background-color: #d32f2f; 
  color: white;
  border: none; 
  padding: 3px 10px; 
  border-radius: 20px; 
  cursor: pointer; 
  font-size: 16px; 
  transition-duration: 0.4s;
  text-align: center; 
}

.delete-button:hover {
  background-color: #d32f2f; 
}

 /*------------------------------- table ----------------------------*/
 table {
  border-collapse: collapse;
  width: 95%; 
  height: 70%; 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  margin: auto;
}

th, td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  width: 50%;
  
}

th {
  font-size: 18px; 
  padding: 4px; 
}

td {
  font-size: 12px;
  padding: 6px; 
}

th:first-child, td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1); 
}

tbody tr:nth-child(even) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.532), rgba(255, 255, 255, 0.3)); 
}

tbody tr:nth-child(odd) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.532), rgba(255, 255, 255, 0.3)); 
}

tr {
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.text-box td {
  padding: 5px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.text-box tbody {
  display: block;
  overflow-y: auto;
  height: 100%; 
  max-height: 100%; 
}

.text-box tbody tr:nth-child(even) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.5));
}

.text-box tbody tr:nth-child(odd) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.3));
}

.text-box tr {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
}