<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" href="images/Logo.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/About.css">
</head>
<body>
  <div id="widget">
    <a id="home-link" href="#"> 
        <img src="images/homepage.png" alt="Image" id="widget-image"></a>
</div>
  <div class="logo">
    <img src="images/BlueLogo.png" alt="My Logo" class="logo">
</div>
<div class="top-section"></div>
<div class="centered-text">
    <h1>About Us</h1>
  </div>
<div class="middle-section">
  <video src="images/homepagevideo.mp4" autoplay loop muted></video>
</div>
<div>
  <form class="text-box">
      <h2>Welcome to ClickTrust!</h2>
      <p>
          Meet the future computer scientists of tomorrow.
          <br>
          We are Computer Science students at the College of Management.
          Our journey to creating this website began with a personal experience where we unsuccessfully tried to sell concert tickets we could not attend.
          Recognizing this as a problem in need of a solution, we came up with the idea for this platform.
          We applied the skills we gained throughout our studies into building this site to provide our users with a more reliable and innovative experience in an area that can often be challenging to navigate.
          We're here to ensure that everyone has the opportunity to buy and sell digital assets online in a safe and secure way.
      </p>
      <h2>Thank you for visiting!</h2>
  </form>
</div>

<div class="manager" id="manager1">
    <img src="images/adir.jpg" alt="Manager 1">
</div>
<div class="title1"><p>Adir Edri<br>CEO & Founder</p></div> 

  <div class="manager" id="manager2">
    <img src="images/Edwin.jpg" alt="Manager 2">
  </div>
<div class="title2"><p>Edwin Krasheninin<br>CEO & Founder</p></div> 

<div class="manager" id="manager3">
    <img src="images/nogga.jpg" alt="Manager 3">
  </div>
<div class="title3"><p>Nogga Ovadya<br>CEO & Founder</p></div> 

<div class="manager" id="manager4">
    <img src="images/yael.jpg" alt="Manager 4">
  </div>
<div class="title4"><p>Yael Itzkovitch<br>CEO & Founder</p></div> 

<div class="bottom-section"></div>
<div class="linkedin-section">
    <p>Add us on</p>
    <a href="https://www.linkedin.com">
    <img src="images/LinkedIn.png" alt="LinkedIn Logo">
</a>
</div>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9499548e-2fe2-4f40-910f-3ad318347df0" data-elfsight-app-lazy></div>

<script> // home page customer / admin

  // Retrieve the email from session storage
   const Email = sessionStorage.getItem('Email');

  // Determine the home page URL based on the user's role
  let homePageUrl;
  if (Email === null) { 
    homePageUrl = '/index'; // Set home page URL to '/index' when email is null
  } else if (Email === 'edwink.k01@gmail.com' || Email === 'adire7399@gmail.com' || Email === 'Nogga.ovadya@gmail.com' || Email === 'y.itzkovitch@gmail.com') {
    homePageUrl = '/admin?Email=' + Email;
  } else {
    homePageUrl = '/customer?Email=' + Email;
  }

   // Set the href attribute of the home link
   const homeLink = document.getElementById('home-link');
   homeLink.setAttribute('href', homePageUrl);
</script>

</body>
</html>