
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="styles/AddProduct.css">
</head>
<body>

    <!-- start video, navbar, logo, widget -->

    <div class="video-background">
        <video autoplay muted loop>
            <source src="images/global2.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <div class="nav-bar">
            <a href="Contact.html">Contact Us</a>
            <a href="About.html">About Us</a>
            <a href="History.html">History</a>
            <a href="Edit.html">Edit Details</a>
            <a href="SignUp.html">Log Out</a>
        </div>
    </nav>
    <div class="logo">
        <img src="images/WhiteLogo.png" alt="My Logo" class="logo">
    </div>
    <div id="widget">
        <a id="home-link" href="#"> 
            <img src="images/homepage.png" alt="Image" id="widget-image"></a>
    </div>

        <!-- end video, navbar, logo, widget -->

        <!-- start left form -->

        <div class="container left">
            <form id="assetForm" method="POST" style="margin-top: -20%;">
                <h2>Adding New Digital Asset</h2><br>
                <select name="Category" required>
                    <option value="" disabled selected style="color: rgba(255, 255, 255, 0.9);">Select Category</option>
                    <option value="Shows">Shows</option>
                    <option value="Sport">Sport</option>
                    <option value="Games">Games</option>
                    <option value="Music">Music</option>
                    <option value="Subscriptions">Subscriptions</option>
                    <option value="Softwares">Softwares</option>
                    <option value="CryptoCoins">Crypto Coins</option>
                    <option value="DigitalArts">Digital Arts</option>
                    <option value="DigitalBooks">Digital Books</option>
                    <option value="MoviesSeries">Movies / Series</option>
                    <option value="Other">Other</option>
                </select><br><br>
                <input type="text" name="NameDigitalAsset" placeholder="Name Digital Asset" required><br><br>
                <input type="text" name="Place" placeholder="Place" required><br><br>
                <div style="display: flex;">
                    <div style="flex: 1; margin-right: 10px;">
                        <input type="date" name="Date" placeholder="Date" style="width: 90%;" required>
                    </div>
                    <div style="flex: 1; margin-left: 10px;">
                        <input type="time" name="Time" placeholder="Time" style="width: 90%;" required>
                    </div>
                </div>
                <br>
                <div style="display: flex; align-items: flex-end;">
                    <div style="flex: 1; margin-right: 10px;">
                        <select name="Quantity" required style="width: 90%; height: 35px;">
                            <option value="" disabled selected style="color: rgba(255, 255, 255, 0.9);">Quantity</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div style="flex: 1; margin-left: 10px;">
                        <input type="number" name="Price" placeholder="Price ($)" style="width: 90%; height: 30px;" required>
                    </div>
                </div><br><br>
                <input type="hidden" name="Email" id="Email" required>
                <input type="hidden" name="Available" id="Available" value="true" required>
                <div style="align-items: center;">
                  <input type="submit" value="Add Asset" id="add-button" onclick="addAsset(event)">
                  <div class="tooltip">
                      <img src="images/questionMark.png" alt="Validation Info" id="question-mark">
                      <span class="tooltiptext">
                          <ul>
                              <li>Asset Name: Must not be empty.</li>
                              <li>Place: Must not be empty.</li>
                              <li>Price: Must not exceed 5000.</li>
                              <li>Date: Cannot be in the past.</li>
                          </ul>
                      </span>
                  </div>
              </div>            </form>
            <div class="conformation" style="display: none;">
                <p>Asset Added Successfully<br></p>
            </div>
        </div>

            <!-- end right forms -->

            <!-- start right form -->

            <div class="container right">
                <h1>Menu</h1>
                <div class="ProfilePic" id="ProfilePic">
                    <img src="images/avatar3.jpg" alt="ProfilePic">
                </div>
                <form id="assetFormRight" style="margin-top: 120px;">
                    <br><br><br><br>
                    <h2>Hi, <span id="customer-name"></span></h2>
                    <a class="choosed-button">Add New Digital Asset</a>
                    <a href="History.html" class="menu-button">Buy & Sell History</a>
                    <a href="Edit.html" class="menu-button">Edit Details</a>
                </form>
            </div>

      <!-- end right form -->
      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
      <div class="elfsight-app-9499548e-2fe2-4f40-910f-3ad318347df0" data-elfsight-app-lazy></div>
</body>

<script> // home page customer / admin

    // Define the getFirstName function
    async function getFirstName(Email) {
    try {
      const response = await fetch(`/get-first-name?Email=${Email}`);
      const data = await response.json();
      document.getElementById('customer-name').textContent = data.FirstName; // Update the customer's name
    } catch (error) {
      console.error('Error fetching first name:', error);
      document.getElementById('customer-name').textContent = 'Error fetching first name';
    }
    }
    
    // Update the HTML content with the customer's first name
    window.addEventListener('DOMContentLoaded', () => {
      getFirstName(Email); // Call the function after the DOM content has been loaded
      sessionStorage.setItem('Email', Email);
    });
    
            // Retrieve the email from session storage
             const Email = sessionStorage.getItem('Email');
          
            // Determine the home page URL based on the user's role
            let homePageUrl;
            if (Email === null) { 
              homePageUrl = '/index'; // Set home page URL to '/index' when email is null
            } else if (Email === 'afik101297@gmail.com' || Email === 'adire7399@gmail.com' || Email === 'Nogga.ovadya@gmail.com' || Email === 'y.itzkovitch@gmail.com') {
              homePageUrl = '/admin?Email=' + Email;
            } else {
              homePageUrl = '/customer?Email=' + Email;
            }
          
             // Set the href attribute of the home link
             const homeLink = document.getElementById('home-link');
             homeLink.setAttribute('href', homePageUrl);
</script>

<script>

async function addAsset(event) {
  event.preventDefault();

  try {
    const formData = new FormData(document.getElementById('assetForm'));
    const price = formData.get('Price');
    const date = formData.get('Date');
    const time = formData.get('Time');
    const currentDate = new Date();
    const datetimeString = `${date}T${time}`;
    const selectedDate = new Date(datetimeString);

    if (parseInt(price) > 5000) {
      alert('Price cannot be greater than 5000.');
      return;
    }

    if (selectedDate < currentDate) {
      alert('Date cannot be in the past.');
      return;
    }

    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });

    data['Email'] = sessionStorage.getItem('Email');
    const response = await fetch('/addAsset', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });

    if (!response.ok) {
      const errorMessage = await response.json();
      throw new Error(errorMessage.error || 'Failed to create asset.');
    }

    alert('Asset created successfully');
    location.reload();

  } catch (error) {
    console.error('Error creating asset:', error);
    alert(`Error: ${error.message}`);
  }
}

</script>
</html>
