<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="styles/manage.css"> <!-- Add a common stylesheet -->
    {% block extra_styles %}{% endblock %}
</head>
<body>

    <div class="video-background">
        <video autoplay muted loop>
            <source src="images/global2.mp4" type="video/mp4"> <!-- Default video, can be overridden -->
        </video>
    </div>

    <nav>
        <div class="nav-bar">
            <a href="manageUsers.html">Manage Users</a>
            <a href="manageAssest.html">Manage Asset</a>
            <a href="AddProduct.html">Add Asset</a>
            <a href="History.html">History</a>
            <a href="SignUp.html">Log Out</a>
        </div>
    </nav>

    <div class="logo">
        <img src="images/WhiteLogo.png" alt="My Logo" class="logo">
    </div>

    <div id="widget">
        <a id="home-link" href="#"> 
            <img src="images/homepage.png" alt="Home" id="widget-image">
        </a>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-9499548e-2fe2-4f40-910f-3ad318347df0" data-elfsight-app-lazy></div>

    <script>
        // Home page redirection logic
        const Email = sessionStorage.getItem('Email');
        let homePageUrl;
        if (Email === null) { 
            homePageUrl = '/index';
        } else if (Email === 'edwink.k01@gmail.com' || Email === 'adire7399@gmail.com' || Email === 'Nogga.ovadya@gmail.com' || Email === 'y.itzkovitch@gmail.com') {
            homePageUrl = '/admin?Email=' + Email;
        } else {
            homePageUrl = '/customer?Email=' + Email;
        }
        const homeLink = document.getElementById('home-link');
        homeLink.setAttribute('href', homePageUrl);
    </script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
