<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/Sign.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="images/global2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="logo">
        <img src="images/WhiteLogo.png" alt="My Logo" class="logo">
    </div>
    <div id="widget">
        <a href="index.html">
        <img src="images/homepage.png" alt="Image" id="widget-image"></a>
    </div>
    <div class="wrapper">
        <div class="container">
            <h2>Reset Your Password</h2>
            <form action="/reset-password" method="POST"> 
                <input type="number" name="ID" placeholder="ID" required><br><br>
                <input type="email" name="Email" placeholder="Email" required><br><br> 
                <input type="password" name="newPassword" placeholder="New Password" required><br><br> 
                <input type="submit" value="Reset" id="signup-button">
            </form>
            <p><a href="LogIn.html">Back to Login</a></p>
        </div>
    </div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-9499548e-2fe2-4f40-910f-3ad318347df0" data-elfsight-app-lazy></div>
</body>
</html>