<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="styles/History.css">
</head>
<body>

    <!-- start video, navbar, logo, widget -->

    <div class="video-background">
        <video autoplay muted loop>
            <source src="images\Digital.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <div class="nav-bar">
        <a href="Contact.html">Contact Us</a>
        <a href="About.html">About Us</a>
        <a href="AddProduct.html">Add Asset</a>
        <a href="Edit.html">Edit Details</a>
        <a href="SignUp.html">Log Out</a>
        </div>
    </nav>
    <div class="logo">
        <img src="images/WhiteLogo.png" alt="My Logo" class="logo">
    </div>
    <div id="widget">
      <a id="home-link" href="#">
          <img src="images/homepage.png" alt="Image" id="widget-image"></a>
  </div>

        <!-- end video, navbar, logo, widget -->

<div class="text-box" style="height: 700px;">
  <div class="container">
    <h1>Transaction History</h1>
    <div class="search-container">
      <div>
        <label for="DateTrans">Search Trans. Date:</label>
        <input type="date" id="DateTrans" style="width: 180px;" oninput="filterAssets()">
      </div>
      <div>
        <label for="Name">Search by Name</label>
        <input type="text" id="Name" style="width: 220px;" oninput="filterAssets()">
      </div>
      <div>
        <label for="Category">Search by Category</label>
        <input type="text" id="Category" style="width: 220px;" oninput="filterAssets()">
      </div>
      <div class="price-slider">
        <label for="price">Max Price: <output for="price" id="price-value">250</output></label><br>
        <input type="range" id="price" name="price" min="0" max="5000" value="200" onclick="filterAssets()">
    </div>
    <div style="display: flex; align-items: center; margin-right: 30px;">
      <label for="Sort" style="margin-right: 10px;">Sort Price</label>
        <button id="sortPriceButton" onclick="sortAssetsByPriceDescending()" style="background: none; border: none; padding: 0;">
              <img src="images/sort.png" alt="Sort by Price" width="30" height="30">
        </button>
      </div>
      <div style="display: flex; align-items: center; margin-right: 30px;">
        <button id="clearFiltersButton" onclick="clearFilters()">Clear Filters</button>
    </div>
    </div>

    <table>
      <thead>
        <tr style="color: rgba(255, 255, 255, 0.771);">
          <th style="width: 25%">ID Trans.</th>
          <th style="width: 30%">Date Trans.</th>
          <th style="width: 25%">Time Trans.</th>
          <th style="width: 25%">Buy / Sell</th>
          <th style="width: 25%">Asset ID</th>
          <th>Category</th>
          <th>Asset Name</th>
          <th>Place</th>
          <th style="width: 30%">Date</th>
          <th style="width: 25%">Time</th>
          <th style="width: 30%">Quantity</th>
          <th style="width: 30%">Price</th>
          <th style="width: 50%">Buyer/Seller</th>
        </tr>
      </thead>
      <tbody id="tradeTableBody">
        <!-- Trades will be dynamically added here -->
      </tbody>
    </table>
  </div>
</div>

      <script> /* slide bar */
        const priceSlider = document.getElementById("price");
        const priceValue = document.getElementById("price-value");
        
        priceSlider.addEventListener("input", function() {
            priceValue.textContent = this.value ; 
        });
        </script>

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9499548e-2fe2-4f40-910f-3ad318347df0" data-elfsight-app-lazy></div>

<script> // home page customer / admin

  // Retrieve the email from session storage
   const Email = sessionStorage.getItem('Email');

  // Determine the home page URL based on the user's role
  let homePageUrl;
  if (Email === null) { 
    homePageUrl = '/index'; // Set home page URL to '/index' when email is null
  } else if (Email === 'afik101297@gmail.com' || Email === 'adire7399@gmail.com' || Email === 'Nogga.ovadya@gmail.com') {
    homePageUrl = '/admin?Email=' + Email;
  } else {
    homePageUrl = '/customer?Email=' + Email;
  }

   // Set the href attribute of the home link
   const homeLink = document.getElementById('home-link');
   homeLink.setAttribute('href', homePageUrl);
</script>






<script>

  document.addEventListener("DOMContentLoaded", function () {

   // ----------------------  SHOW ASSETS -----------------------

   function checkAssetInfo(trade) {
  if (Array.isArray(trade.asset_info) && trade.asset_info.length > 0) {
    console.log("YES asset_info");
    return trade.asset_info[0];
  } else {
    console.log("NO asset_info");
    return {};
  }
}

async function renderAssets() {
  const userEmail = sessionStorage.getItem('Email');
  try {
    const response = await fetch(`/user-trades?Email=${userEmail}`);
    const userTrades = await response.json();
    console.log('User trades:', userTrades); // Add this line to check the received data

    const tradeTableBody = document.getElementById('tradeTableBody');
    tradeTableBody.innerHTML = ''; // Clear existing rows

    userTrades.forEach((trade) => {
      console.log('Trade:', trade); // Add this line to check each trade object

      const asset = checkAssetInfo(trade); // Check asset info
      console.log('Asset:', asset); // Add this line to check the asset info

      const row = document.createElement('tr');
      row.innerHTML = `
        <td style="width: 25%">${trade._id}</td>
        <td style="width: 30%">${formatDate(trade.TransDate)}</td>
        <td style="width: 25%">${trade.TransTime}</td>
        <td class="trade-type" style="width: 25%">${trade.BuyerEmail === userEmail ? 'Buy' : 'Sell'}</td>
        <td style="width: 25%">${trade.AssetID}</td>
        <td>${asset.Category || ''}</td>
        <td>${asset.NameDigitalAsset || ''}</td>
        <td>${asset.Place || ''}</td>
        <td style="width: 30%">${formatDate(asset.Date) || ''}</td>
        <td style="width: 25%">${asset.Time || ''}</td>
        <td style="width: 30%">${asset.Quantity || ''}</td>
        <td style="width: 30%">${asset.Price || ''}</td>
        <td style="width: 50%">${trade.BuyerEmail === userEmail ? trade.SellerEmail : trade.BuyerEmail}</td>
      `;
      
      tradeTableBody.appendChild(row);
    });
  } catch (error) {
    console.error('Error fetching user trades:', error);
  }
}

// Call the renderAssets function when the page is loaded
window.onload = renderAssets;

   // ----------------------  FILTERS & SORTS -----------------------


   async function filterAssets() {
    const searchByDate = document.getElementById('DateTrans');
    const searchByName = document.getElementById('Name');
    const searchByCategory = document.getElementById('Category');
    const maxPrice = document.getElementById('price');

    const assets = Array.from(document.getElementById('tradeTableBody').getElementsByTagName('tr'));

    assets.forEach((asset) => {
      const DateTrans = asset.children[1].innerText;
      const AssetName = asset.children[6].innerText;
      const Category = asset.children[5].innerText;
      const price = parseFloat(asset.children[11].innerText);

      asset.style.display = '';

      if (searchByDate.value && !DateTrans.toLowerCase().includes(searchByDate.value.toLowerCase())) {
        asset.style.display = 'none';
      }

      if (searchByName.value && !AssetName.toLowerCase().includes(searchByName.value.toLowerCase())) {
        asset.style.display = 'none';
      }

      if (searchByCategory.value && !Category.toLowerCase().includes(searchByCategory.value.toLowerCase())) {
        asset.style.display = 'none';
      }

      if (maxPrice.value && price > parseFloat(maxPrice.value)) {
        asset.style.display = 'none';
      }
    });
  }
  let ascendingOrder = true;

    function sortAssetsByPriceDescending() {
    const tradeTableBody = document.getElementById('tradeTableBody');
    const assets = Array.from(tradeTableBody.getElementsByTagName('tr'));

    assets.sort((a, b) => {
        const priceA = parseFloat(a.children[11].innerText);
        const priceB = parseFloat(b.children[11].innerText);
        return ascendingOrder ? priceA - priceB : priceB - priceA;
    });

    tradeTableBody.innerHTML = '';
    assets.forEach(asset => {
    tradeTableBody.appendChild(asset);
    });

    ascendingOrder = !ascendingOrder;
}

function clearFilters() {  // Clear the sorts
  document.getElementById('DateTrans').value = '';
  document.getElementById('Name').value = '';
  document.getElementById('Category').value = '';
  document.getElementById('price').value = '';
  filterAssets(); // קריאה לפונקציה לסינון
}

  // --------------------------- Event listeners ----------------------

  document.getElementById('DateTrans').addEventListener('input', filterAssets);
  document.getElementById('Name').addEventListener('input', filterAssets);
  document.getElementById('Category').addEventListener('input', filterAssets);
  document.getElementById('price').addEventListener('input', filterAssets);
  document.getElementById('sortPriceButton').addEventListener('click', sortAssetsByPriceDescending);
  document.getElementById('clearFiltersButton').addEventListener('click', clearFilters);

  // -------------------------------- FORMATS ----------------------

  function formatDate(dateString) {
    const date = new Date(dateString);
    // Format the date as desired (e.g., YYYY-MM-DD)
    const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
    return formattedDate;
  }

  function formatTime(timeString) {
    // Implement time formatting if needed
    return timeString;
  }

  // ----------------------------------------------------------------

  });

</script>


</body>
</html>
