<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="icon" href="images/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/Instructions.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="images\Global.mp4" type="video/mp4">
        </video>
    </div>
    <header>
        <div class="logo">
        <img src="images/WhiteLogo.png" alt="My Logo" class="logo">
    </div></header>
    <div id="widget">
        <a href="index.html">
        <img src="images/homepage.png" alt="Image" id="widget-image"></a>
    </div>
    <div class="container">
    <form class="text-box">
        <h1 class="title">Privacy Policy</h1>
        <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our website.</p>
        
        <h2>Personal Information We Collect</h2>
        <p>We collect Device Information using the following technologies:</p>
        <ul>
            <li>Cookies</li>
            <li>Log files</li>
            <li>Web beacons</li>
            <li>Embedded scripts</li>
        </ul>

        <h2>How We Use Your Personal Information</h2>
        <p>We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).</p>

        <h2>Sharing Your Personal Information</h2>
        <p>We share your Personal Information with third parties to help us use your Personal Information, as described above.</p>

        <h2>Changes</h2>
        <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>

        <h2>Contact Us</h2>
        <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at privacy@clicktrust.com.</p>
    </form>
        <a href="SignUp.html" class="btn-back">Back to Sign Up!</a>
        
    </div>
</body>
</html>