<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use</title>
    <link rel="stylesheet" href="styles\Instructions.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="images\Global.mp4" type="video/mp4">
        </video>
    </div>
    <header>
        <div class="logo">
        <img src="images/WhiteLogo.png" alt="Logo" class="logo">
        </div></header>
    <div id="widget">
        <a href="index.html">
        <img src="images/homepage.png" alt="Image" id="widget-image"></a>
    </div>
    <div class="container">
        <form class="text-box">
        <h1 class="title">Terms of Use</h1>
        <p>Please read these terms of use carefully before using our website.</p>
        
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using our website, you agree to be bound by these terms of use.</p>

        <h2>2. User Conduct</h2>
        <p>You agree to use the website only for lawful purposes and in a manner consistent with all applicable laws and regulations.</p>

        <h2>3. Intellectual Property</h2>
        <p>All content included on the website, including text, graphics, logos, images, and software, is the property of the website owner and is protected by copyright laws.</p>

        <h2>4. Limitation of Liability</h2>
        <p>The website owner shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of the website.</p>

        <h2>5. Changes</h2>
        <p>We reserve the right to modify or replace these terms of use at any time. Your continued use of the website after any changes to these terms of use will constitute your acceptance of such changes.</p>

        <h2>6. Contact Us</h2>
        <p>If you have any questions about these terms of use, please contact us by e-mail at info@example.com.</p>
        </form>
    <a href="SignUp.html" class="btn-back">Back to Sign UP!</a>
    </div>
</body>
</html>