<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Click Trust</title>
    <link rel="stylesheet" href="styles/Welcome.css">
</head>

<body>
    <div class="welcome-container">
        <br><br><br>
        <a href="index.html"><img src="images/BlueLogo.png" class="logo"></a>
        <br><br><br><br><br>
        <h1>Welcome to ClickTrust Family!</h1>
        <h2>Press our logo and move to the home page, or anywhere esle for a cool effect!</h2>
        <p>We are delighted to have you as a member of our digital asset store. Start exploring the wide variety of
           digital assets and enjoy a secure, reliable and seamless shopping experience.</p>
        <p>Follow us on social media:</p>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com" target="_blank"><img src="images/twitter.png" alt="twitter"></a>
        </div>
    </div>
    <canvas></canvas>